:host {
  display: block;
  width: 450px;
}

.pop-up-content {
  padding: 24px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon-selector-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;

  .icon-preview {
    font-size: 48px;
    width: 48px;
    height: 48px;
    color: var(--primary-color);
  }
}

p.helper-text {
  font-size: 0.85rem;
  color: var(--text-color-secondary);
  margin: -8px 0 0 0;
}