<o-pop-up-header [title]="(data ? 'Editar' : 'Adicionar') + ' questão de verdadeiro ou falso'" />

<form class="question-popup" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <section class="qp-body">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-fixed">
            <mat-label>Número</mat-label>
            <input matInput type="number" formControlName="index" />
        </mat-form-field>

        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-grow">
            <mat-label>Enunciado</mat-label>
            <textarea matInput formControlName="statement" rows="4" cdkTextareaAutosize></textarea>
        </mat-form-field>

        <div>
        </div>
    </section>

    <o-pop-up-buttons [confirmButton]="data ? 'Editar' : 'Adicionar'" [disable]="form.invalid" type="submit" />
</form>