<o-loading [isLoading]="isLoading" />

<header class="learning-path-header">
    <button mat-icon-button [routerLink]="['/i/' + this.ctx.institution?.id + '/c/' + this.ctx.classroom?.id]">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <div>
        <mat-icon [style]="ctx.learningPathStudy?.learningPath?.validated ? '' : 'visibility: hidden'"
            pTooltip="Rota validada pelo professor">check</mat-icon>

        @if (ctx.isTeacher) {
        <o-text-button (onclick)="validateLearningPath(!ctx.learningPathStudy?.learningPath?.validated)">
            {{ctx.learningPathStudy?.learningPath?.validated ? "Invalidar rota" : "Validar rota"}}
        </o-text-button>
        }
    </div>

    <o-highlight-button (onclick)="toggleMode()" [icon]="mode === 'view' ? 'visibility' : 'school'">
        Modo {{mode === 'view' ? 'Visualização' : 'Estudo'}}
    </o-highlight-button>

    <div class="sharing-div">
        @if (mine) {
        <div class="toggle-div">
            <p-toggleswitch [(ngModel)]="ctx.learningPathStudy!.learningPath!.shared"
                (ngModelChange)="updatedLearningPathSharing()" />
            <span>Compartilhada</span>
        </div>
        }

        <button mat-icon-button (click)="shareLearningPath()">
            <mat-icon>share</mat-icon>
        </button>
    </div>

    @if (mine) {
    <!-- TODO: Deleting learning paths is currently disabled (issue #22)-->
    <button mat-icon-button (click)="deleteLearningPath()" [disabled]="true">
        <mat-icon>delete</mat-icon>
    </button>
    }

</header>

<div class="learning-path-content">
    @if (generationStatus === generationStatusEnum.GENERATING) {

    <p>A rota de aprendizagem está sendo gerada</p>

    } @else if (generationStatus === generationStatusEnum.GENERATED) {

    <div class="left">
        @switch (ctx.learningPathStudy!.learningPath!.type) {
        @case (typeEnum.TEXT) {
        <o-text-learning-path [learningPathStudy]="learningPathStudyAsText" [mode]="mode" />
        }
        @case (typeEnum.VIDEO) {
        <o-video-learning-path [learningPathStudy]="learningPathStudyAsVideo" [mode]="mode" />
        }
        @case (typeEnum.AUDIO) {
        <o-audio-learning-path [learningPathStudy]="learningPathStudyAsAudio" [mode]="mode" />
        }
        @case (typeEnum.FLASHCARD) {
        <o-flash-card-learning-path [learningPathStudy]="learningPathStudyAsFlashCard" [mode]="mode" />
        }
        @case (typeEnum.QUESTION) {
        <o-question-learning-path [learningPathStudy]="learningPathStudyAsQuestion" [mode]="mode" />
        }
        }
    </div>

    @if (mode === 'study') {
    <div class="right">
        <o-chat [learningPaths]="[ctx.learningPathStudy!.learningPath]" [showLearningPaths]="false" />
    </div>
    }

    } @else if(generationStatus === generationStatusEnum.FAILED) {

    <p>Ocorreu um erro na geração da rota de aprendizagem</p>

    }
</div>