.learning-path-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid gray;

	div {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.sharing-div {
		display: flex;
		align-items: center;
		gap: 15px;

		.toggle-div {
			display: flex;
			align-items: center;
			gap: 5px;
		}
	}
}

.learning-path-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;

	.left {
		width: 60%;
	}

	.right {
		width: 40%;
	}
}
