{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 120,
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"vueIndentScriptAndStyle": true,
	"quoteProps": "consistent",
	"semi": true,
	"bracketSpacing": true
}
