<header>
	<div class="left-header">
		<button mat-icon-button (click)="toggleSidebar()">
			<mat-icon>menu</mat-icon>
		</button>

		<img src="./../../../assets/placeholder/PUCMinasLogo.png" alt="Logo Orbix" style="width: 80px" />

		<p-select [options]="institutions" [(ngModel)]="selectedInstitution" [checkmark]="true" [loading]="isLoading"
			optionLabel="name" placeholder="Selecione uma Instituição" class="selector" />
	</div>

	<div class="right-header">
		<button mat-icon-button (click)="onNotifications()">
			<mat-icon>notifications</mat-icon>
		</button>
		<button mat-icon-button (click)="onSettings()">
			<mat-icon>settings</mat-icon>
		</button>
		<button mat-icon-button (click)="onProfile()">
			<mat-icon>account_circle</mat-icon>
		</button>
	</div>
</header>