<header>
    <div class="left-header">
        <button mat-button (click)="sidebar.emit()" class="menu-button">
            <mat-icon>menu</mat-icon>
        </button>

        <button mat-button class="logo-button" (click)="goToHome()">
            <img class="inst-logo" [src]="logo" alt="Institution logo" />
        </button>

        <p-select [options]="institutions" optionValue="id" [(ngModel)]="selectedInstitutionId" [checkmark]="true"
            [loading]="institutions.length === 0" optionLabel="name" placeholder="Selecione uma Instituição"
            class="selector" (ngModelChange)="changeInstitution($event)" />

        @if (canConfigureInstitution) {
        <button mat-icon-button (click)="goToSettings()">
            <mat-icon>settings</mat-icon>
        </button>
        }
    </div>

    <div class="right-header">
        <button mat-icon-button (click)="goToReport()">
            <mat-icon>bug_report</mat-icon>
        </button>
        <button class="avatar-button" mat-icon-button (click)="goToProfile()">
            <img class="avatar" [src]="profilePictureUrl" alt="Profile picture" />
        </button>
    </div>
</header>