<o-loading [isLoading]="isLoading" />

<div class="flashcards-lp">

    <div class="fc-toolbar">
        @if (mode === 'study') {
        <button mat-icon-button (click)="shuffle()" pTooltip="Embaralhar">
            <mat-icon>shuffle</mat-icon>
        </button>

        <div class="fc-nav">
            <button mat-icon-button [style]="'visibility: ' + (fcIndex > 0 ? 'visible' : 'hidden')" (click)="prev()"
                pTooltip="Anterior">
                <mat-icon>arrow_back_ios_new</mat-icon>
            </button>

            <p class="fc-counter">{{ fcIndex + 1 }} / {{ flashCards.length }}</p>

            <button mat-icon-button [style]="'visibility: ' + (fcIndex < flashCards.length - 1 ? 'visible' : 'hidden')"
                (click)="next()" pTooltip="Próximo">
                <mat-icon>arrow_forward_ios_new</mat-icon>
            </button>
        </div>
        } @else {
        <o-highlight-button (onclick)="addFlashCard()" icon="add">
            Adicionar flash card
        </o-highlight-button>
        }
    </div>

    @if (mode === 'study') {

    <div class="fc-study">
        <section class="fc-left">
            @if (flashCard) {
            <mat-card class="fc-card fc-card--focus" [class.is-open]="fcContext[fcIndex].opened">
                <mat-card-content class="fc-card__content">
                    <p class="fc-front">{{ flashCard.front }}</p>

                    @if (fcContext[fcIndex].opened) {
                    <p class="fc-back">{{ flashCard.back }}</p>
                    }
                </mat-card-content>

                <mat-card-actions class="fc-card__actions">
                    <o-highlight-button (onclick)="this.fcContext[fcIndex].opened = !this.fcContext[fcIndex].opened">
                        {{ fcContext[fcIndex].opened ? 'Fechar' : 'Abrir' }}
                    </o-highlight-button>
                </mat-card-actions>
            </mat-card>
            }
        </section>

        <section class="fc-right">
            <div class="menu">
                @for (flashCard of flashCards; track $index; let i = $index) {
                <button mat-stroked-button (click)="goToFlashCard(i)">
                    <span>Flash Card {{ i + 1 }}</span>
                </button>
                }
            </div>
        </section>
    </div>

    } @else {

    <div class="fc-grid">
        @for (flashCard of flashCards; track $index; let i = $index) {
        <mat-card class="fc-card">
            <div class="fc-card__title">
                <span>{{ i + 1 }}</span>
            </div>
            <mat-card-content class="fc-card__content">
                <div class="fc-card__text">
                    <p class="fc-front">{{ flashCard.front }}</p>
                    <p class="fc-back">{{ flashCard.back }}</p>
                </div>

                <mat-card-actions class="fc-card__actions">
                    <button mat-icon-button (click)="editFlashCard(i)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteFlashCard(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
        }
    </div>

    }
</div>