<div class="classroom-home">

	<div class="top-buttons">

		<button mat-raised-button>
			Criar trilha
		</button>

		<button mat-raised-button [routerLink]="baseUrl + '/documents'">
			Documentos
		</button>

		<button mat-raised-button [routerLink]="baseUrl + '/members'">
			Membros
		</button>

		@if(isProfessor) {
		<button mat-raised-button [routerLink]="baseUrl + '/dashboard'">
			Dashboard
		</button>

		<button mat-raised-button [routerLink]="baseUrl + '/settings'">
			Configurações
		</button>
		}

	</div>

	<p-divider />

	<div class="content">

		<div class="left-content">

			<mat-form-field appearance="outline">
				<mat-label>Filtrar</mat-label>
				<input matInput />
			</mat-form-field>

			<div class="roadmaps-div">

				<div class="roadmaps">
					@for (item of [0,1,2,3]; track item) {

					<o-roadmap-card />
					}
				</div>

				<div class="roadmaps">
					@for (item of [0,1,2,3]; track item) {
					<o-roadmap-card />
					}
				</div>

			</div>

		</div>

		<div class="right-content">
			<o-syllabus />
		</div>

	</div>
</div>