<o-loading [isLoading]="isLoading" />

<div class="classroom-home">

    <div class="top-buttons">

        <button mat-raised-button (click)="createRoadmap()">
            Criar trilha
        </button>

        <button mat-raised-button [routerLink]="baseUrl + '/documents'">
            Documentos
        </button>

        <button mat-raised-button [routerLink]="baseUrl + '/members'">
            Membros
        </button>

        @if(ctx.isTeacher) {
        <button mat-raised-button [routerLink]="baseUrl + '/dashboard'">
            Dashboard
        </button>

        <button mat-raised-button [routerLink]="baseUrl + '/settings'">
            Configurações
        </button>
        }

    </div>

    <p-divider />

    <div class="content">

        <div class="left-content">

            <div class="roadmaps-div">

                <div class="roadmaps">
                    <h3>Minhas trilhas</h3>
                    @for (roadmap of filteredMyRoadmaps; track roadmap.id) {
                    <o-roadmap-card [roadmap]="roadmap" (cardClick)="goToRoadmap(roadmap)"
                        (sharedChange)="updatedRoadmapSharing(roadmap)" />
                    }
                </div>

                <div class="roadmaps">
                    <h3>Trilhas compartilhadas</h3>
                    <h5>Trilhas de professor</h5>
                    @for (roadmap of filteredTeacherRoadmaps; track roadmap.id) {
                    <o-roadmap-card [roadmap]="roadmap" (cardClick)="goToRoadmap(roadmap)"
                        (sharedChange)="updatedRoadmapSharing(roadmap)" />
                    }
                    <p-divider />
                    <h5>Trilhas de alunos</h5>
                    @for (roadmap of filteredStudentRoadmaps; track roadmap.id) {
                    <o-roadmap-card [roadmap]="roadmap" (cardClick)="goToRoadmap(roadmap)"
                        (sharedChange)="updatedRoadmapSharing(roadmap)" />
                    }
                </div>

            </div>

        </div>

        <div class="right-content">

            <div class="search-div">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Pesquisar</mat-label>
                    <input matInput [(ngModel)]="filter" />
                </mat-form-field>
            </div>

            <o-syllabus [syllabus]="ctx.classroom?.syllabus" mode="checkbox" (syllabusMarked)="markSyllabus($event)" />
        </div>

    </div>
</div>