<o-loading [isLoading]="isLoading" />

<o-pop-up-header [title]="'Alterar senha de ' + data.email" />

<mat-dialog-content>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="change-password-form">

        <mat-form-field appearance="fill" subscriptSizing="dynamic">
            <mat-label>Senha Atual</mat-label>
            <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" name="currentPassword"
                formControlName="currentPassword" />
            <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">{{hideCurrentPassword ?
                'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill" subscriptSizing="dynamic">
            <mat-label>Nova Senha</mat-label>
            <input matInput [type]="hideNewPassword ? 'password' : 'text'" name="newPassword"
                formControlName="newPassword" />
            <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility_off' :
                'visibility'}}</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill" subscriptSizing="dynamic">
            <mat-label>Confirmar Nova Senha</mat-label>
            <input matInput [type]="hideNewPasswordConfirmation ? 'password' : 'text'" name="newPasswordConfirmation"
                formControlName="newPasswordConfirmation" />
            <mat-icon matSuffix
                (click)="hideNewPasswordConfirmation = !hideNewPasswordConfirmation">{{hideNewPasswordConfirmation ?
                'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        @if (error !== '') {
        <div class="change-password-error-div">
            <span>{{error}}</span>
        </div>
        }

        <o-pop-up-buttons cancelButton="Cancelar" confirmButton="Alterar senha" type="submit"
            [disable]="isLoading || form.invalid" />
    </form>

</mat-dialog-content>