.avatar-button {
	border: 1px solid var(--secondary-color);
	display: flex;
	align-items: center;
	justify-content: center;

	.avatar {
		border-radius: 50%;
		object-fit: cover;
		object-position: center;
		display: block;
	}
}
