<p-card [header]="learningPath.name">
    <mat-icon>{{learningPath.icon}}</mat-icon>
    <button mat-button (click)="cardClick.emit()" style="width: auto; height: auto; padding: 0">
        <p class="m-0">
            Por {{ learningPath.creator.name }}
            @if(learningPath.validated) {
            <mat-icon pTooltip="Rota validada pelo professor">check</mat-icon>
            }
        </p>
        <o-syllabus-tags [syllabus]="learningPath.syllabus" />
    </button>
    @if (mine) {
    <p>
        <p-toggleswitch [(ngModel)]="learningPath.shared" (ngModelChange)="sharedChange.emit(learningPath.shared)" />
        <span class="ml-2">Compartilhada</span>
    </p>
    }
</p-card>