<div class="learning-path-card" [class.is-interactive]="generated" (click)="generated && cardClick.emit()">

    @if (generated) {
    <div class="lp-left" [pTooltip]="syllabusTags" tooltipPosition="top">
        <div class="lp-title-row">
            <h4 class="lp-title" [title]="learningPath.name">{{ learningPath.name }}</h4>
        </div>
        <div class="lp-meta">
            <span class="lp-author">Por {{ learningPath.creator.name }}</span>
            @if (learningPath.validated) {
            <span class="lp-sep">•</span>
            <span class="lp-info"><mat-icon>check</mat-icon> Validada</span>
            }
            @if (learningPath.shared) {
            <span class="lp-sep">•</span>
            <span class="lp-info"><mat-icon>share</mat-icon> Compartilhada</span>
            }
        </div>
    </div>
    <ng-template #syllabusTags>
        <o-syllabus-tags [syllabus]="learningPath.syllabus" [maxTags]="6" />
    </ng-template>

    <div class="lp-right">
        <span class="lp-chip">{{ learningPath.type | learningPathType }}</span>
        <button mat-icon-button (click)="$event.stopPropagation(); addToChat.emit()" pTooltip="Adicionar ao chat"
            tooltipPosition="top" [style]="inChat ? 'visibility: hidden' : ''">
            <mat-icon>chat_bubble</mat-icon>
        </button>
        <button mat-icon-button (click)="$event.stopPropagation(); share.emit()" pTooltip="Compartilhar"
            tooltipPosition="top" [style]="mine && !learningPath.shared ? '' : 'visibility: hidden'">
            <mat-icon>share</mat-icon>
        </button>
    </div>
    }

    @else if (generating) {
    <div class="lp-left">
        <div class="lp-title-row">
            <h4 class="lp-title" [title]="learningPath.name">{{ learningPath.name }}</h4>
            <span class="lp-chip">{{ learningPath.type | learningPathType }}</span>
        </div>
        <div class="lp-loading">
            <o-loading [isLoading]="true" [local]="true" size="22px" />
            <span>Gerando rota... • Recarregue a página em alguns segundos</span>
        </div>
    </div>
    }

    @else if (failed) {
    <div class="lp-left">
        <div class="lp-title-row">
            <h4 class="lp-title" [title]="learningPath.name">{{ learningPath.name }}</h4>
            <span class="lp-chip error">{{ learningPath.type | learningPathType }}</span>
        </div>
        <div class="lp-error-row">
            <mat-icon>error</mat-icon>
            <span class="lp-error-text">{{ learningPath.generation.errorMessage }}</span>
            <o-text-button (onclick)="regenerate.emit()">Gerar novamente</o-text-button>
        </div>
    </div>
    }

</div>