.question-popup {
	display: flex;
	flex-direction: column;
	gap: 12px;
	color: var(--text-color);

	.qp-content {
		display: flex;
		flex-direction: row;
		gap: 16px;
		padding: 15px;

		.qp-body {
			display: flex;
			flex-direction: column;
			gap: 14px;
			width: 100%;
			padding-top: 5px;

			padding-bottom: 6px; // Scrollbar compensation

			max-height: 70vh;
			overflow-y: auto;

			.options {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				gap: 5px;

				.texts {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 10px;
					width: 100%;

					mat-form-field {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						height: 56px;
						width: 100%;
					}
				}

				.checks {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 10px;

					mat-checkbox {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						height: 56px;
						width: 56px;
					}
				}

				.deletes {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 10px;

					button {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						height: 56px;
						width: 56px;
					}
				}
			}
		}
        
		.qp-syllabus {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 5px;
		}
	}
}

:host ::ng-deep .mat-mdc-form-field .mdc-text-field--outlined {
	background: color-mix(in oklab, var(--background-color) 98%, white);
}
:host ::ng-deep .mat-mdc-form-field .mdc-notched-outline__leading,
:host ::ng-deep .mat-mdc-form-field .mdc-notched-outline__trailing {
	border-color: color-mix(in oklab, var(--text-color) 20%, transparent);
}
