<div class="video-learning-path">
    @for (video of videos; track video; let i = $index) {
    <div class="video-card">
        <h4 class="video-title">{{i + 1}}. {{ video.name }}</h4>

        <div class="video-wrapper">
            <iframe [src]="getUrl(video.videoId) | safeUrl" frameborder="0" allowfullscreen
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"></iframe>
        </div>

        <div class="video-meta">
            <p class="author">Por: {{ video.author }}</p>
            <p class="description">{{ video.description }}</p>
        </div>
    </div>
    }
</div>