<o-loading [isLoading]="isLoading" />

<mat-stepper #stepper>

    <mat-step [stepControl]="syllabusSetupForm" label="Defina a ementa">
        <div>
            <o-sub-header [setup]="getSetupTutorial(0)" />
            <o-classroom-settings />
        </div>
    </mat-step>

    <mat-step [stepControl]="documentsSetupForm" label="Adicione documentos" optional>
        <div>
            <o-classroom-documents [setup]="getSetupTutorial(1)" />
        </div>
    </mat-step>

    <mat-step [stepControl]="membersSetupForm" label="Adicione membros" optional>
        <div>
            <o-classroom-members [setup]="getSetupTutorial(2)" />
        </div>
    </mat-step>
</mat-stepper>