.confirm-popup {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 16px;
	padding: 24px 20px;

	.icon {
		font-size: 48px;
		height: 48px;
		width: 48px;
		color: var(--primary-color);
	}

	.title {
		margin: 0;
		font-size: 1.4rem;
		font-weight: 600;
		color: var(--text-color);
	}

	.message {
		font-size: 1rem;
		color: var(--text-color);
		opacity: 0.9;
	}
}
