@if (text) {
<remark [markdown]="text" [processor]="processor" class="markdown">
    <ng-template [remarkTemplate]="'code'" let-node>
        @if(node.lang === 'mermaid') {
        <remark-mermaid [code]="node.value" />
        }
        @else {
        <remark-prism [code]="node.value" [language]="sanitizeLanguage(node.lang)" />
        }
    </ng-template>

    <remark-katex *remarkTemplate="'math'; let node" [expr]="node.value"></remark-katex>
    <remark-katex *remarkTemplate="'inlineMath'; let node" [expr]="node.value"></remark-katex>
</remark>
}