<!-- Header -->
<header class="ius-header">
	<button mat-icon-button (click)="goBack()">
		<mat-icon>arrow_back</mat-icon>
	</button>

	<div>
		<button mat-raised-button (click)="createUser()">
			Criar usuário
		</button>

		<button mat-raised-button (click)="deleteSelectedUsers()">
			Excluir usuários
		</button>
	</div>
</header>

<div class="ius-filter-div">
	<!-- TODO: Add filter options here -->
</div>

<!-- Table -->
<p-table [value]="accounts" [lazy]="true" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
	[rowsPerPageOptions]="[5, 10, 20]" [showCurrentPageReport]="true" [loading]="isLoading"
	currentPageReportTemplate="Página {currentPage} de {totalPages}" [alwaysShowPaginator]="false"
	[showJumpToPageDropdown]="true" (onLazyLoad)="getAccounts($event)">
	<ng-template #header>
		<tr>
			<th><p-tableHeaderCheckbox /></th>
			<th style="width:30%">Email</th>
			<th style="width:30%">Nome</th>
			<th style="width:30%">Cargo</th>
		</tr>
	</ng-template>
	<ng-template #body let-account>
		<tr>
			<td> <p-tableCheckbox [value]="account" /> </td>
			<td>{{ account.email }}</td>
			<td>{{ account.user.firstName }} {{account.user.surName}}</td>
			<td>{{ account.institutionRole }}</td>
		</tr>
	</ng-template>
</p-table>