<div class="pop-up-container">
  <o-pop-up-header title="Adicionar novo grupo de tópicos na ementa" />

  <div class="pop-up-content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Nome do grupo</mat-label>
        <input matInput type="text" name="name" formControlName="name" />
      </mat-form-field>

      <div class="syllabus-container">
        <o-syllabus [syllabus]="data.syllabus" (syllabusMarked)="markSyllabus($event)" mode="select" />
      </div>
    </form>
  </div>

  <o-pop-up-buttons [disable]="form.invalid" (confirm)="onSubmit()" confirmButton="Adicionar grupo de tópicos" />
</div>