<div class="account-card">
    <div class="account-info">
        @if (institution?.name) {
        <p class="institution-name">{{ institution?.name }}</p>
        }

        <div class="info-grid">
            @if (email) {
            <div class="info-item">
                <span class="label">Email</span>
                <span class="value">{{ email }}</span>
            </div>
            }

            @if (idInInstitution) {
            <div class="info-item">
                <span class="label">Identificador</span>
                <span class="value">{{ idInInstitution }}</span>
            </div>
            }

            @if (institutionRole) {
            <div class="info-item">
                <span class="label">Cargo</span>
                <span class="value">{{ institutionRole | institutionRole }}</span>
            </div>
            }

            @if (amountOfClassrooms) {
            <div class="info-item">
                <span class="label">Turmas</span>
                <span class="value">{{ amountOfClassrooms }}</span>
            </div>
            }

            @if (canChangePassword) {
            <o-text-button (onclick)="changePassword()">Alterar senha desta conta</o-text-button>
            }
        </div>

        @if (isLoading) {
        <o-loading [isLoading]="isLoading" [local]="true" size="30px" />
        }
    </div>

    @if (institution) {
    <div class="logo-frame">
        <img [src]="institutionLogoUrl" alt="Institution Logo" />
    </div>
    }
</div>