<o-pop-up-header [title]="(data ? 'Editar' : 'Adicionar') + ' flash card'" />

<form class="card-popup" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <section class="cp-body">
        <h4>Frente</h4>
        <o-markdown-editor [startingText]="getFormControl('front').value" height="20vh"
            (textChange)="getFormControl('front').setValue($event)" editorId="editorFront" resize="vertical" />
        <h4>Verso</h4>
        <o-markdown-editor [startingText]="getFormControl('back').value" height="20vh"
            (textChange)="getFormControl('back').setValue($event)" editorId="editorBack" resize="vertical" />
    </section>
    <o-pop-up-buttons [confirmButton]="data ? 'Editar' : 'Adicionar'" [disable]="form.invalid" type="submit" />
</form>