<o-pop-up-header [title]="(isEdit ? 'Editar' : 'Adicionar') + ' questão de verdadeiro ou falso'" />

<form class="question-popup" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <section class="qp-body">
        @if (hasIndex) {
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-fixed">
            <mat-label>Número</mat-label>
            <input matInput type="number" formControlName="index" />
        </mat-form-field>
        }

        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-grow">
            <mat-label>Enunciado</mat-label>
            <textarea matInput formControlName="statement" rows="4" cdkTextareaAutosize></textarea>
        </mat-form-field>

        <mat-button-toggle-group class="tf-group" formControlName="answer">
            <mat-button-toggle [value]="true">Verdadeiro</mat-button-toggle>
            <mat-button-toggle [value]="false">Falso</mat-button-toggle>
        </mat-button-toggle-group>
    </section>

    <o-pop-up-buttons [confirmButton]="isEdit ? 'Editar' : 'Adicionar'" [disable]="form.invalid" type="submit" />
</form>