<header class="sub-header">
    <div class="right">
        @if (backButtonLink && !setup) {
        <button mat-icon-button [routerLink]="backButtonLink">
            <mat-icon>arrow_back</mat-icon>
        </button>
        }
        @if (setup) {
        @if (setup.step > 0) { <o-text-button (onclick)="setup.back()">
            Anterior</o-text-button> }
        @if (setup.step < setup.totalSteps-1) { <o-text-button (onclick)="setup.next()">
            Próximo</o-text-button> }
            @else {
            <o-highlight-button (onclick)="setup.finish()">Concluir</o-highlight-button>
            }
            }
    </div>

    <div class="left">
        @for (btn of buttons; track $index) {
        @if (btn.highlighted) {
        <o-highlight-button (onclick)="btn.function()" [icon]="btn.icon"
            [disabled]="btn.disabled !== undefined ? btn.disabled : false">{{btn.text}}</o-highlight-button>
        } @else {
        <o-text-button (onclick)="btn.function()" [icon]="btn.icon"
            [disabled]="btn.disabled !== undefined ? btn.disabled : false">{{btn.text}}</o-text-button>
        }
        }
    </div>
</header>