<div class="institution-settings">
    <o-white-label-configuration />

    <div class="right-div">
        <div class="buttons-div">
            <o-highlight-button (onclick)="goToUsers()">
                Usuários
            </o-highlight-button>
            <o-highlight-button (onclick)="goToClassrooms()">
                Turmas
            </o-highlight-button>
        </div>

        @if (!ctx.institution?.domains || ctx.institution?.domains?.length === 0) {
        <div>
            <p>Não há domínios cadastrados na sua instituição.</p>
            <p><a (click)="goToReport()">Entre em contato com o suporte para cadastrar domínios.</a></p>
        </div>
        } @else {
        <div>
            <h3>Domínios:</h3>
            <ul>
                @for (domain of ctx.institution?.domains; track domain) {
                <li>&#64;{{ domain }}</li>
                }
            </ul>
        </div>
        }

        @if (ctx.institution?.lms) {
        <div class="lms-div">
            <h3>LMS: </h3>
            <p class="lms">{{ctx.institution?.lms! | lms}}</p>
        </div>
        }
    </div>
</div>